body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    flex-direction: row;
    border: solid 1px rgba(0, 0, 0, 0.4);
}

img {
    aspect-ratio: keep;
    max-width: 64px;
}

img {
    align-self: center;
    flex: 0 0 auto;
  }

.container {
    display: flex;
}

.header {
    font-weight: bolder;
}

.inventory {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
}

.output {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
